<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Tips</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Back Button -->
    <div class="button-container">
        <a href="{{ url_for('index') }}" class="custom-button">Back</a>
    </div>

    <header>
        <h1>Health Tips</h1>
    </header>

    <main>
        <ul>
            <li>Drink plenty of water.</li>
            <li>Exercise regularly.</li>
            <li>Eat a balanced diet.</li>
            <li>Get enough sleep.</li>
        </ul>
    </main>
</body>
</html>
